<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="assets/css/drunkenparrot.combined.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
  <script data-main="assets/js/require_config" src="assets/js/require.min.js"></script>
</body>
</html>

