<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="assets/css/drunkenparrot.combined.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

  <!--
  <div class="panel panel-primary">
    <div class="panel-heading">Authensiering</div>
    <div class="panel-body">
      <div class="form-group input-icon">
        <span class="fa fa-user"></span>
        <input type="text" name="username" class="form-control" placeholder="Username">
      </div>

      <div class="form-group input-icon">
        <span class="fa fa-lock"></span>
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>

      <button class="btn btn-primary btn-embossed action-login">Logga in</button>
    </div>
  </div>
  -->
  <div class="login-container">
    <div class="tile tile-login">
      <form id="login-form" action="/login" method="POST">
        <h3 class="logo">
          <img src="/assets/img/spnl_logo.png" />
        </h3>

        <div class="input-icon">
          <span class="fa-user fa"></span>
          <input type="text" name="username" class="form-control" placeholder="Username">
        </div>

        <div class="input-icon">
          <span class="fa-lock fa"></span>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <!-- '.tile-login input' and '.btn-success' collides. Adding hidden type='submit' so enter works for submitting. -->
        <input type="submit" class="btn btn-block btn-success btn-embossed action-login" value="Login" style="display:none;" />
        <a href="javascript:void(0);" class="btn btn-block btn-success btn-embossed" onclick="document.getElementById('login-form').submit();">Login</a>

        <div class="error-container"></div>
        <!-- <div class="login-action clearfix">
          <div class="col-md-8">
            <label class="checkbox">
              <input type="checkbox" value="" data-toggle="checkbox" />Remember Me
            </label>
          </div>
          <div class="col-md-4">
            <a href="#">Forget?</a>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</body>
</html>
