$parrot-blue: #02baf2;
$parrot-blue-light: #35c8f5;
$parrot-blue-dark: #009dcd;

$parrot-red: #f84545;
$parrot-red-light: #f96a6a;
$parrot-red-dark: #cc0000;

$parrot-yellow: #fad46b;
$parrot-yellow-light: #fbdd89;
$parrot-yellow-dark: #f3bc65;

$parrot-green: #3eb5ac;
$parrot-green-light: lighten($parrot-green, 8%); /* Doesnt exists in parrot? */
$parrot-green-dark: #28948c;

$parrot-purple: #a88cd5;
$parrot-purple-light: lighten($parrot-purple, 8%); /* Doesnt exists in parrot? */
$parrot-purple-dark: #9175bd;

$parrot-orange: #f58410;
$parrot-orange-light: lighten($parrot-orange, 8%); /* Doesnt exists in parrot? */
$parrot-orange-dark: #e96300;

$parrot-grey: #d6e1e5;
$parrot-grey-light: #dee7ea;
$parrot-grey-dark: #93a4aa;
