/* Color palette */
/* CORE COLORS */
$parrot-lagoon: #02baf2;
$parrot-overboard: #009dcd;
$parrot-strawberry: #f84545;
$parrot-first-blood: #cc0000;
$parrot-banana: #fad46b;
$parrot-doubloon: #f3bc65;

/* ACCENT COLORS */
$parrot-bruise: #a88cd5;
$parrot-sugar-plum: #9175bd;
$parrot-emerald-cove: #3eb5ac;
$parrot-landlubber: #28948c;
$parrot-horizon: #f58410;
$parrot-nassua-sunset: #e96300;

/* SHADE COLORS */
$parrot-the-black-flag: #364347;
$parrot-gunpowder: #5e696d;
$parrot-pieces-of-eight: #93a4aa;
$parrot-cutlass: #b2c6cd;
$parrot-coral: #d6e1e5;
$parrot-costal-surf: #e1eef3;


/* From buttons */
$parrot-blue: $parrot-lagoon;
$parrot-blue-light: #35c8f5;
$parrot-blue-dark: $parrot-overboard;

$parrot-red: $parrot-strawberry;
$parrot-red-light: #f96a6a;
$parrot-red-dark: $parrot-first-blood;

$parrot-yellow: $parrot-banana;
$parrot-yellow-light: #fbdd89;
$parrot-yellow-dark: $parrot-doubloon;

$parrot-green: $parrot-emerald-cove;
$parrot-green-light: lighten($parrot-green, 8%); /* Doesnt exists in parrot? */
$parrot-green-dark: $parrot-landlubber;

$parrot-purple: $parrot-bruise;
$parrot-purple-light: lighten($parrot-purple, 8%); /* Doesnt exists in parrot? */
$parrot-purple-dark: $parrot-sugar-plum;

$parrot-orange: $parrot-horizon;
$parrot-orange-light: lighten($parrot-orange, 8%); /* Doesnt exists in parrot? */
$parrot-orange-dark: $parrot-nassua-sunset;


/* Grey shades (not sure where I found those :P) */
$parrot-grey: #d6e1e5;
$parrot-grey-light: #dee7ea;
$parrot-grey-dark: #93a4aa;
