

/* Jeet (grid) settings */
$jeet-gutter: 3;
$jeet-parent-first: false;
$jeet-layout-direction: "LTR";
$jeet-max-width: 960px;

/* Breakpoints that Drunken Parrot is using */
$parrot-breakpoint-mobile: 480px;
$parrot-breakpoint-tablet: 768px;
