

/* Jeet (grid) settings */
$jeet-gutter: 3;
$jeet-parent-first: false;
$jeet-layout-direction: "LTR";
$jeet-max-width: 960px;



// * {
//   border: 1px #459944 solid;
// }
// * * {
//   border: 1px #995566 dashed;
// }
// * * * {
//   border: 1px #5555BB dashed;
// }
